version: '3.8'

services:
  backend:
    build:
      context: ../
      dockerfile: deployment/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/app
    environment:
      - ENV=production

  frontend_server:
    image: nginx:alpine
    ports:
      - "3000:80"
    volumes:
      - ../frontend:/usr/share/nginx/html
    depends_on:
      - backend
